<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Detail</title>
</head>
<body>

    <h2 class="amount">amount of posts: {{ blogs|length }}</h2>
    <h2 class="amount">amount of users: {{ users|length }}</h2>

    <hr>

    <div class="wrapper">
        <a href="{% url 'blogs' %}">Home</a>
        <h3>#{{ blog.title }}</h3>
        <span>author: {{ blog.author }}</span> |
        <span>date: {{ blog.create_time|date:"d/m/Y" }} {{ blog.create_time|time:"h:i a" }}</span>
        <p>{{ blog.body }}</p>
    </div>

</body>
</html>