<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog List</title>
</head>
<body>
    <h2 class="amount">amount of posts: {{ blogs|length }}</h2>
    <hr>
    {% for blog in blogs|dictsort:"create_time" %}
        <div class="wrapper">
            <h3><a href="">#{{ blog.title }}</a></h3>
            <span>author: {{ blog.author }} <br> date: {{ blog.create_time|date:"d/m/Y" }} {{ blog.create_time|time:"h:i a" }}</span>
            {% comment %} <span>{{ blog.create_time|timeuntil:from_date }}</span> {% endcomment %}
            <p>{{ blog.body|truncatewords:12 }} <a href="">(read more)</a></p>
        </div>
    {% endfor %}
</body>
</html>